
/*---------------------------------------
*메인페이지 전용 스타일
*----------------------------------------*/

/*---------------------------------------
*음식 갤러리 영역
*----------------------------------------*/

/* ############################ 체크 */
.food-gallery{
    display: flex;
    flex-wrap: wrap;
}
/* ############################ 체크 */
.food-gallery .food-item{
    /* flex:none; 주고 width 값 줘야함 >> flex:none (지정 너비값을 유지) */
    flex: none;
    /* 아예 25%를 줘야함!.. flex-basis 확인 해보기 */
    width: 25%;
    padding: 20px 10px;
}
.food-gallery .food-item a{
    display: block;
}


/* ############################ 체크 */
/* 이미지를 감싸는 박스 */
.food-gallery .food-item a .img-wrapper{
    /* 이미지가 이 박스를 벗어날 경우 잘라낸다. */
    width: 100%;
    height: 360px;
    overflow: hidden;
}
/* ############################ 체크 */
.food-gallery .food-item a .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

/* ############################ 체크 */
/* a로 감싼 링크를 hover 했을때 이미지가 커져야함 */
.food-gallery .food-item a:hover img{
    transform: scale(1.3);
    
}

.food-gallery .food-item a .food-content{
    padding: 15px 10px;
    text-align: center;
}
/* ############################ 체크 */
.food-gallery .food-item a .food-content h2{
    font-size: 22px;
    margin-bottom: 12px;
    line-height: 130%;
}
.food-gallery .food-item a .food-content p{
    font-size: 16px;
    font-weight: 300;
    line-height: 120%;
}


/* 페이지 번호 */
.pagenation{
    display: flex;
    justify-content: center;

}
.pagenation li{
    width: 32px;
    height: 32px;
    /* 버튼 사이의 간격 넓혀준다 */
    margin: 0 8px;
    
}
.pagenation li a{
    display: flex;
    font-size: 18px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; /* 세개 >> 중앙배치*/
}
.pagenation li.active{
    background: #000;

}
.pagenation li.active a{
    color: #fff;
}
.pagenation li a:hover{
    background: rgba(0,0,0,0.2);
}



/*---------------------------------------
*중앙 구분선
*----------------------------------------*/
.divider{
    margin: 60px 0;
    width: auto;
    /* hr 구분선은 border-top  / border-bottom 둘중 하나만 줘야함 */
    border-top: 1px solid #ddd;
    border-bottom: 0;
}


/*---------------------------------------
*쉐프 소개
*----------------------------------------*/
.profile-container{
    text-align: center;
}
.profile-container h2{
    font-size: 32px;
    margin-bottom: 32px;
    font-weight: 400;
}
.profile-container img{
    max-width: 100%; /* 그림의 원본사이즈 유지하는데 화면이 줄어들면 그림이 화면의 폭을 넘어서지 못함.*/
    height: auto;
    margin-bottom: 26px;
}
.profile-container h3{
    font-size: 26px;
    margin-bottom: 16px;
    font-weight: 400;
}
.profile-container h4{
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 400;
}
.profile-container p{
    font-size: 16px;
    margin-bottom: 36px;
    font-weight: 300;
    line-height: 155%;
    padding: 0 25px; /* 모바일에서 봤을 때 좌우 여백 붙어있으면 답답하기 때문에 padding 값을 준다.*/
}












/* ==================== 반응형 미디어쿼리 =================== */
@media only screen and (min-width:600px) and (max-width:767px) {
    .food-gallery .food-item{
        width: 50%;
    }
}


@media only screen and (max-width:599px){
    .food-gallery .food-item{
        width: 100%;
    }
}

