/*----------------------------------------------------
 * 사이트의 기본 색상값들에 대한 변수 설정
 *----------------------------------------------------*/
// 실제 페이지 작업시에는 사이트의 색상 테마의 값들을 나열
$black: #000000;
$dark-gray: #444444;
$gray: #616161;
$gray-op: #61616177;
$light-gray: #eeeeee;
$white: #f1f1f1;
$black-op: #00000011;
$green: #0f0;