/**
* 모든 페이지에서 사용될 공통적인 내용을 정의하는 파일
*/


// 공통 파일들 참조
@import './_reset.scss';
@import './_colors.scss';
@import './_responsive.scss';


// 모든 태그에 대한 기본 글꼴 설정
* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

// 링크에 대한 기본 설정
a {
    text-decoration: none;
    color: $black;
}

/*-------------------------------------------------------
* 상단영역
-------------------------------------------------------*/
.header {
    // background-color: #ddd; // 작업하는 동안의 임시 적용

    position: absolute;
    left: 0;
    right: 0;

    // position absolute 가 되면 사이즈를 명시해야함.
    width: 100%;

    // 메뉴 영역이므로 다른 요소보다 위에 떠있어야 한다.
    z-index: 9999;

    .menu {
        // 메뉴 영역의 넓이 제한 (1800보다 작은 넓이에서는 100% 역할을 한다.)
        max-width: 1800px;
        margin: auto;
        display: flex;

        li {
            text-align: center;

            // 태블릿 사이즈 이하에서는 균등 분할되도록 설정
            @include desktop-md {
                width: 20%;
            }

            &:last-child {
                margin-left: auto;

                span {
                    display: none; //search 텍스트 안보이게

                    // 태블릿 사이즈 이하에서는 검색텍스트 표시
                    @include desktop-md {
                        display: block;
                    }
                }
            }

            a {
                display: block;
                font-size: 18px;
                font-weight: 500;
                padding: 17px 10px;

                &:hover{
                    background-color: $black-op;
                }

                span {
                    margin-left: 10px;
                    font-size: 16px;

                    // 태블릿 사이즈 이하에서는 균등 분할되도록 설정
                    @include desktop-md {
                        display: block;
                        margin-top: 5px;
                        margin-left: 0;
                        font-size: 13px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}





/*-------------------------------------------------------
* 하단영역
-------------------------------------------------------*/
.footer {
    background: $black; 
    text-align: center;
    padding: 50px 10px;

    .to-the-top {
        display: inline-block; // inline요소 : 기본넓이 내용만틈 측정 + block요소 : 넓이 직접 지정 가능
        background-color: $light-gray;
        padding: 10px 25px;
        font-size: 18px;
        color: $gray;
        margin-bottom: 10px;

        i {
            margin-right: 10px;
        }

        &:hover {
            background-color: $green;
            color: $black;
        }
    }

    .social-list {
        // background-color: aqua;
        display: flex;
        justify-content: center;

        a {
            color: $white;
            display: block;
            font-size: 35px;
            margin: 20px 10px 40px 10px;

            &:hover {
                color: $green;
            }
        }
    }

    address {
        color: $white;
        font-size: 18px;
    }
}