/*
* 메인페이지 스타일
* _ 페이지는 자동 css 생성 안되니깐 참조된 index 페이지에서 하나라도 수정해야함
*/
@import './_common.scss';

.main {
    // background-color: rgba(15, 111, 255, 0.333); // 작업하는 동안 임시적용

    // 상단영역의 높이보다 여유있게 여백 설정 (임시)
    // padding-top: 100px;


    // 재사용 하기 위한 title 정의
    .title {
        width: 100%;
        // vh는 viewport(브라우저 창 영역)의 height를 기준으로 한 %
        height: 40vh;
        display: flex;

        background-size: cover;
        background-position: center center;
        background-attachment: fixed; // 배경 이미지의 스크롤 여부 : fixed (움직이지 않는다.)

        .hello {
            // display:flex가 부모에게 적용되어 있다면 margin:auto; 는 세로축으로 작용
            margin: auto;

            // 부모한테 주면 자식도 먹는다.
            color: $white;
            text-align: center;
            text-transform: uppercase;
            padding: 30px 50px;

            @include desktop-md {
                padding: 20px 30px;
            }

            h1 {
                font-size: 36px;
                font-weight: 600;
                white-space: nowrap;
                margin-bottom: 10px;

                @include desktop-md {
                    font-size: 26px;
                }
            }

            p {
                font-size: 20px;
                font-weight: 300;

                @include desktop-md {
                    font-size: 16px;
                }
            }
        }   
    }


    .introduce {
        // 각 영역을 확인하기 위한 임시코드
        // background-color: rgba(183, 0, 255, 0.333);
        // height: 150px;

        .title {
            // vh는 viewport(브라우저 창 영역)의 height를 기준으로 한 %
            height: 100vh;
            background-image: url("../img/parallax1.jpg");

            .hello {
                // 임시코드
                background-color: $gray;
            }   
        }

        .about-me {
            max-width: 1100px;
            padding: 65px 40px;
            margin: auto;

            @include desktop-md {
                padding: 45px 20px;
                // padding: 0;
            }

            h2 {
                font-size: 42px;
                color: $dark-gray;
                margin-bottom: 40px;
                text-align: center;

                @include desktop-md {
                    font-size: 36px;
                    margin-bottom: 20px;
                }
            }

            h3 {
                font-size: 30px;
                font-weight: 400;
                margin-bottom: 40px;
                font-style: italic;
                color: $gray;
                text-align: center;

                @include desktop-md {
                    font-size: 20px;
                    margin-bottom: 30px;
                    font-weight: 300;
                }
            }

            p {
                line-height: 150%;
                font-size: 18px;
                margin-bottom: 45px;
                font-weight: 300;

                @include desktop-md {
                    font-size: 16px;
                    margin-bottom: 25px;
                    line-height: 145%;   
                }
            }

            .about-box {
                display: flex;
                flex-wrap: wrap; 

                .photo-box {
                    width: 50%;
                    padding: 0 35px;

                    @include desktop-md {
                        width: 100%;
                        padding: 0px;  // 실습은 0 20px로 진행
                    }

                    h4 {
                        font-size: 22px;
                        color: $gray;
                        margin-bottom: 20px;

                        @include desktop-md {
                            text-align: center;
                        }

                        i {
                            margin-right: 10px;
                        }
                    }

                    img {
                        width: 100%; // 그림이 같이 줄어든다.  ?? max-width:100%;
                    }
                }

                p {
                    width: 50%;
                    padding-top: 40px;

                    @include desktop-md {
                        width: 100%;
                        
                    }
                }
            }
            
        }

        .skill {
            max-width: 1100px;
            padding: 40px 40px 50px 40px;
            margin: auto;

            h2 {
                font-size: 32px;
                margin-bottom: 45px;
                text-align: center;
                color: $gray;

                @include desktop-md {
                    font-size: 28px;
                    margin-bottom: 35px;
                }
            }

            .skill-section {
                h3 {
                    font-size: 22px;
                    margin-bottom: 15px;
                    letter-spacing: 8px;
                    font-weight: 300;

                    @include desktop-md {
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                }

                .bar-container {
                    height: 35px;
                    background-color: $light-gray;
                    margin-bottom: 30px;

                    @include desktop-md {
                        height: 25px;
                        margin-bottom: 20px;
                    }

                      
                    .bar {
                        // width는 설정 안해도 된다. why?
                        // box는 부모의 넓이를 가득 채우기 때문에
                        height: 100%;
                        background-color:$gray;
                        line-height: 35px;
                        text-align: center;
                        color: $white;
                        
                        // ** lineheight 안쓰고 텍스트 가운데 중앙맞추는 또다른 방법
                        // display : flex;
                        // justify-content : center;
                        // align-items : center;

                        @include desktop-md {
                            line-height: 25px;
                        }

                        &.w90p {
                            width: 90%;
                        }

                        &.w85p {
                            width: 85%;
                        }

                        &.w75p {
                            width: 75%;
                        }
                    }

                    
                    
                }
            }
        }

        .point {
            background-color: $black;
            

            .point-container {
                max-width: 1200px;
                margin: auto;
                padding: 60px 10px;
                display: flex;
                flex-wrap: wrap; // 모바일에서 두줄로 바뀌니깐 미리 준거야
                justify-content: space-between;
                
                @include desktop-md {
                    padding: 20px 10px;
                }

                .point-item {
                    width: 25%;
                    background: $black;
                    text-align: center;
                    color: $white;
                    margin: 20px auto;

                    @include desktop-md {
                        width: 50%;
                    }

                    .point-value {
                        font-size: 45px;
                        font-weight: 500;
                        margin-bottom: 25px;

                        @include desktop-md {
                            font-size: 38px;
                            font-weight: 400;
                            margin-bottom: 20px;
                        }
                    }

                    .point-text {
                        font-size: 24px;
                        font-weight: 300;


                        @include desktop-md {
                            font-size: 16px;
                        }
                    }

                }

            }
        }

    }




    .Portfoloio {
        // 각 영역을 확인하기 위한 임시코드
        // background-color: rgba(152, 255, 34, 0.333);
        // height: 150px;

        .title {
            background-image: url('../img/parallax2.jpg');
        }

        .content {
            max-width: 1200px;
            margin: auto;
            padding: 60px 20px;

            @include desktop-md {
                padding: 30px 10px;
            }

            h1 {
                text-align: center;
                font-size: 40px;
                margin-bottom: 32px;
                color: $dark-gray;

                @include desktop-md {
                    font-size: 30px;
                    margin-bottom: 24px;
                }
            }

            p {
                text-align: center;
                margin-bottom: 18px;
                font-size: 20px;
                color: $gray;
                font-weight: 300;
                font-style: italic;

                @include desktop-md {
                    font-size: 16px;
                    margin-bottom: 16px;
                }
            }

            .gallery {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 50px;

                li {
                    width: 25%;
                    padding: 10px;
                    
                    @include desktop-md {
                        width: 50%;
                    }

                    a {
                        // border: 3px solid red;
                        display: block;
                        overflow: hidden;

                        img {
                            width: 100%;
                            transition: all 0.3s ease-in-out;

                            &:hover {
                                transform: scale(1.2, 1.2);
                            }
                        }
                    }

                }
            }
        }

    }



    
    .contact {
        // 각 영역을 확인하기 위한 임시코드
        // background-color: rgba(56, 34, 255, 0.333);
        // height: 150px;

        .title {
            background-image: url('../img/parallax3.jpg');
        }

        .content {
            max-width: 1200px;
            margin: 30px auto;
            display: flex;
            flex-wrap: wrap;

            .map {
                width: 50%;  // max-width 하면 지도 원래 높이만큼만 영역 잦ㅂ히기 때문에 width:100%; 수정
                padding: 20px;
                height: 40vh;

                @include desktop-md {
                    width: 100%;
                }

                img {
                    width: 100%;
                }
            }

            .contact {
                width: 50%;
                padding: 20px;

                @include desktop-md {
                    width: 100%;
                }

                ul {
                    display: flex;
                    flex-direction: column; // 세로배치되면서 간격조절 하기 위해 display:flex; 사용
                    justify-content: space-evenly;
                    height: 100%;

                    li {
                        font-size: 24px;
                        color: $gray;
                        padding-left: 35px;
                        // line-height: 150%;

                        @include desktop-md {
                            font-size: 16px;
                            line-height: 200%;
                            padding-left: 0;
                        }

                        i {
                            margin-right: 15px;
                        }
                    }
                }

            }
        }
    }
}

